<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume PDF</title>
    <style>@page {
        margin: 0; /* Removes margins from the entire page */
    }

    body {
        margin: 0; /* Removes body margin */
        padding: 20px; /* Optional padding to ensure content doesn't touch the edge */
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
    }

    p {
        margin: 0;
        padding: 5px 0;
    }

    hr {
        margin: 10px 0;
    }
</style>
</head>
<body>


<h1 style='text-align: center;'>Adithya Balan</h1>
<p>Phone: 7200605112| Email: adithyabalan05@gmail.com </p>

<p><span style='font-size:large;'>Career Objective:</span>  Write 2-3 sentences that summarize your career goals and key skills for a better resume.We suggest including an email and phone number.</p>
<hr>


<h3>Education</h3>
<p>Collge Name - Oxford Public School| CPGA: 9.1<br>
B.Tech Computer science with Business system | year: 2024-2028</p>
<p>Collge Name - Oxford Public School| CPGA: 9.1<br>
    B.Tech Computer science with Business system | year: 2024-2028</p><hr>

<h3>Skills</h3>
<p>Languages- Java| Python| Javascript<br>
Languages- Java| Python| Javascript<br>
Languages- Java| Python| Javascript</p><hr>

<h3>Internship or Work Experience</h3>
<p>Company - ABC Company| Duration: 2024-2028<br>
    Write 2-3 sentences that summarize your career goals and key skills for a better resume.We suggest including an email and phone number.</p>

    <p>Company - ABC Company| Duration: 2024-2028<br>
        Write 2-3 sentences that summarize your career goals and key skills for a better resume.We suggest including an email and phone number.</p>

</body>
</html>